/* Globals*/
:root {
	--colorTest: rgb(255, 0, 0);
	--colorTest2: rgb(0, 255, 0);
	--colorTest3: rgb(0, 0, 255);
}
html {
	box-sizing: border-box; /* Prevents sudden growth of the box */
	font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
	box-sizing: inherit; /* Follow the same size rule in html*/
}

/* Header section*/
.content-header {
	width: 100%;
	height: 6.1rem;
	background-color: var(--colorTest);
}