/* Globals*/
:root {
	--colorMain: rgb(255, 68, 31);
	--colorTest: rgb(255, 0, 0);
	--colorTest2: rgb(0, 255, 0);
	--colorTest3: rgb(0, 0, 255);
}
html {
	box-sizing: border-box; /* Prevents sudden growth of the box */
	font-size: 62.5%; /*1rem = 10px*/
}
*, *:before, *:after {
	box-sizing: inherit; /* Follow the same size rule in html*/
}
a {
	color: black;
	text-decoration: none;
}
svg {
	width: 24px;
	height: 24px;
}

/* Header Main */
.content-header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 6.1rem;
	background-color: transparent;
	gap: 16px;
}

/* Header section menu */
.content-header__menu {
	width: 88px;
	height: 37px;
	margin: 12px 0px 12px 16px;
	display: flex;
	align-items: center;
	gap: 16px;
}
.content-header__img {
	width: 48px;
	height: 37px;
	display: flex;
	align-items: center;

}
.content-header__img svg{
	width: 49px;
	height: 25px;
	display: flex;
}

/* Header section location*/
.content-header__location {
	width: 122px;
	height: 30px;
	margin: 15px 0px;
	border-width: 0px 1.25px;
	border-style: solid;
	border-color: rgb(230, 235, 241);
	padding: 0px 16px;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	background-color: transparent;
}
.content-header__location p {
	color: var(--colorMain);
	font-size: 14px;
	font-family: "Nunito", sans-serif;
	font-weight: 750;
}
.icon_location path,
.icon_arrow path {
	width: 24px;
	height: 24px;
	fill: var(--colorMain);
}

/* Header section bar*/
.content-header__bar {
	width: 100%;
	height: 37.012px;
	margin: 12px 24px 12px 0px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 16px;
	grid-area: right;
}
.content_search {
	width: 956px;
	height: 48px;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}
.Search_Background {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	background-color: rgb(247, 248, 249);
}
.icon-moustache {
	width: 24px;
	height: 24px;
	margin: 10px 4px 10px 16px;
}
.input-search {
	width: 463px;
	height: 48px;
	padding: 6px 20px 6px 12px;
	border: none;
	color: rgb(26, 44, 54);
	background-color: rgb(247, 248, 249);
	font-family: Nunito, sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: normal;
	text-align: left;
}
.icon-search {
	width: 42px;
	height: 40px;
	margin: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-login {
	display: flex;
	align-items: center;
	gap: 6px;
}
.content-login span {
	font-size: 14px;
	font-family: "Nunito", sans-serif;
	font-weight: 750;
	line-height: 1.71;
	color: rgb(106, 105, 110);
}
.content-shoppingCart {
	border-left: 1px solid rgb(230, 235, 241);
	margin: 25px 0px;
	padding-left: 16px;	
}